.main-content {
    margin-top: 5rem; /* Asegurar que el título esté debajo del header */
    padding: 0 1rem; /* Para dar algo de relleno a los lados del contenido */
}

.title {
    text-align: center;
    font-size: 3vw;
}

.paragraph {
    text-align: justify;
    margin-bottom: 2rem; /* Añade más espacio debajo del texto de introducción */
    font-size: 1.25vw;
    line-height: 1.25rem; /* Ajusta el espacio entre líneas para mayor legibilidad */
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem; /* Aumenta el espacio entre los catálogos */
    justify-items: center;
    margin-bottom: 2rem; /* Añade más espacio debajo de los catálogos */
}

.catalogo img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
    border: 2px solid #eeeeee;
    box-shadow: 0 1px 3px #0000003b;
}

/* Estilos para pantallas pequeñas (Apple Watch y celulares) */
@media (max-width: 430px) {
    .productos-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .title {
        font-size: 6vw;
    }
    
    .paragraph {
        font-size: 4.5vw;
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 884px) {
    .title {
        font-size: 6vw;
    }
    
    .paragraph {
        font-size: 3vw;
        line-height: 1.6rem; /* Ajusta el espacio entre líneas para mayor legibilidad */

    }
}