/* Estilos generales */
body {
    background-color: white;
    font-family: 'Helvetica Neue', sans-serif;
    margin: 0;
    /* overflow: hidden; */ /* Remover esta línea para permitir el scroll */
    scroll-behavior: smooth; /* Suaviza el desplazamiento al hacer scroll */
    flex: display;
}


/* Encabezado: aqui empieza... */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #E5E7EB;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    box-sizing: border-box;
}

/* Botón de menú hamburguesa */
.hamburger {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
    left: 0; /* Ajuste automático para la posición */
}

/* Enlaces de la barra de navegación (lado izquierdo) */
nav .nav-left {
    display: flex;
    gap: 1rem;
    list-style: none;
    margin: 0;
    padding: 0;
    transition: max-height 0.3s ease;
}

nav .nav-left li a {
    color: inherit;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

nav .nav-left li a:hover {
    color: #00ffff;
}

/* Logo */
nav .logo {
    text-align: center;
    flex: 1;
}

nav .logo img {
    max-width: 30px;
    height: auto;
}

/* Redes sociales (lado derecho) */
nav .flex {
    display: flex;
    gap: 5rem;
    justify-content: flex-end;
}

nav .flex a {
    font-size: 1.3rem;
    font-weight: 500;
    color: black;
}

nav .flex a:hover {
    color: #00ffff;
}

.main-content {
    margin-top: 80px; /* Esto añade espacio entre el encabezado fijo y el contenido principal */
    padding: 0 2rem; /* Para dar algo de relleno a los lados del contenido */
    flex: 0;
}

.title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
    margin-bottom: 2rem; /* Añade más espacio debajo de cada título */
    margin-top: 7rem; /* Añade más espacio encima de cada título */
}

.paragraph {
    margin-bottom: 3rem; /* Añade más espacio debajo del texto de introducción */
    text-align: center;
    font-size: 1.125rem; /* Tamaño de texto ligeramente mayor para mejorar la lectura */
    line-height: 1.75rem; /* Ajusta el espacio entre líneas para mayor legibilidad */
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1rem; /* Aumenta el espacio entre los catálogos */
    justify-items: center;
    margin-bottom: 3rem; /* Añade más espacio debajo de los catálogos */
}

.catalogo {
    border: 2px solid #eeeeee; /* Borde gris */
    box-shadow: 0 4px 8px #0000001a; /* Sombra */
}

/* Pie de pagina: aqui empieza... */
.footer {
    background-color: #e5e7eb;
    padding: 16px 0;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
    box-sizing: border-box;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 40px;
    justify-items: center;
}

.space-y-4 {
    list-style-type: none;
    padding: 0;
}

.space-y-4 li {
    font-size: 18px;
    color: #4a5568;
    text-align: center;
}

.space-y-4 li a {
    text-decoration: none;
    color: #4a5568;
    transition: color 0.3s ease;
}
  
.space-y-4 li a:hover {
    color: #00ffff;
}

.flex.justify-center {
    display: column;
    justify-content: center;
    gap: 24px;
}

.flex.justify-center a {
    font-size: 1.5rem;
    font-weight: 500;
    color: black;
    transition: color 0.2s ease-in-out;
}

.flex.justify-center a:hover {
    color: #00ffff;
}
/* Pie de pagina: aqui termina... */

/* Estilos para pantallas pequeñas (Apple Watch y celulares) */
@media (max-width: 430px) {

    /* Encabezado: aqui empieza... */
    nav .nav-left {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: white;
        padding: 1rem;
        border: 1px solid #E5E7EB;
        z-index: 1000;
    }

    nav .nav-left.active {
        display: flex;
    }

    nav .flex {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    .hamburger {
        display: block;
        order: -2;
    }

    .logo {
        order: -1;
    }
    /* Encabezado: aqui termina... */

    /* Aqui va a ir su contenido de ustedes, van a sustituir esto por su contenido que tengan en media, ¿dudas?... */
    /* section {
        grid-template-columns: 1fr;
    } */

    /* Pie de pagina: aqui empieza... */
    .footer {
        padding: 1rem 0;
        text-align: center;
    }

    .container {
        width: 100%;
        padding-top: 20px;
    }

    .grid {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 0 1rem;
    }

    .space-y-4 li {
        font-size: 16px;
        word-wrap: break-word;
    }

    .flex.justify-center {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        }

    .flex.justify-center a {
        font-size: 1.2rem;
    }
    /* Pie de pagina: aqui termina.. */
}

/* Ajuste para tabletas o dispositivos medianos */
@media (min-width: 481px) and (max-width: 768px) {
    .productos-grid {
        grid-template-columns: repeat(4, 1fr); /* Asegura que haya siempre 4 columnas en tabletas */
        gap: 1.5rem;
    }
}

/* Tablets */
@media (min-width: 768px) and (max-width: 884px) {
    
    /* Encabezado: aqui empieza... */
    nav .nav-left {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        right: 0;
        background-color: white;
        padding: 1rem;
        border: 1px solid #E5E7EB;
        z-index: 1000;
    }

    nav .nav-left.active {
        display: flex;
    }

    nav .flex {
        display: flex;
        gap: 1rem;
        justify-content: flex-end;
    }

    .hamburger {
        display: block;
        order: -2;
    }

    .logo {
        order: -1;
    }
    /* Encabezado: aqui termina... */

    /* Aqui va a ir su contenido de ustedes, van a sustituir esto por su contenido que tengan en media, ¿dudas?... */
    /* section {
        grid-template-columns: 1fr;
    } */

    /* Pie de pagina: aqui empieza... */
    .footer {
        padding: 1rem 0;
        text-align: center;
    }

    .container {
        width: 100%;
        padding-top: 20px;
        min-height: 9.9vh;  
    }

    .grid {
        grid-template-columns: 1fr;
        justify-items: center;
        padding: 10 1rem;
    }

    .space-y-4 li {
        font-size: 16px;
        word-wrap: break-word;
    }

    .flex.justify-center {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
        }

    .flex.justify-center a {
        font-size: 1.2rem;
    }
    /* Pie de pagina: aqui termina.. */
}

/* Laptops y televisión */
@media (min-width: 885px) {
    /* Esto de abajo inicien dejandolo, si no les funciona me dicen y les ayudo, o si pueden darle solución solos,
    adelante, haganlo, pero no cambien ya el diseño ni nada */
    /* section {
        grid-template-columns: repeat(4, 1fr);
    } */

    /* Esto si lo dejan aqui asi, ya que este es del footer, es indispensable */
    .flex.justify-center {
        display: flex;
        gap: 2rem;
        justify-content: flex-end;
    }
}

.catalogo img {
    width: 100%;
    height: auto;
    max-height: 120px; /* Aumenta un poco la altura máxima de las imágenes */}

    @media (min-width: 768px) {
        .product-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
    
    @media (min-width: 1024px) {
        .product-grid {
            grid-template-columns: repeat(8, 1fr);
        }
    }
    
    .product-item img {
        width: 120px;
        height: 160px;
        border-radius: 0.5rem;
    }
    
    .product-item p {
        margin-top: 0.5rem;
        font-size: 1.125rem;
        font-weight: 500;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
    }



