/* Ajustes generales del carrusel */
.carousel {
    position: relative;
    overflow: hidden;
    width: 100%; /* Reduce el ancho total para respetar el padding */
    height: 100%;
    display: flex;
    align-items: center; /* Centrar verticalmente el contenido */
    box-sizing: border-box; /* Incluye padding en las dimensiones del carrusel */
}

.carousel-inner {
    display: flex;
    flex-wrap: nowrap; /* Asegura que los elementos no se ajusten en múltiples filas */
    width: 100%;
            transition: transform 0.3s ease-in-out;
        }

        .product-item {
            min-width: 17%; /* Cada producto ocupa un tercio del ancho del carrusel */
            height: 100%;
            box-sizing: border-box;
            padding: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        section div.product-item {
            position: relative;
        }

                /* Controles de navegación */
                .carousel-controls {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    transform: translateY(-50%);
                }
        
                .carousel-control-prev, .carousel-control-next {
                    padding: 10px;
                    border: color(black);
                    cursor: pointer;
                    font-size: 20px;
                }
        



/* Main Section */
.main-section {
    text-align: center;
    padding: 1rem 1rem;
}

.main-section h1 {
    font-size: 7vw; /* Ajusté el tamaño del título */
    margin-bottom: -1.5rem; /* Espacio debajo del título */
}

.main-section p {
    font-size: 1.5vw; /* Ajuste de tamaño de texto */
}



/* Estilos del banner */
.banner {
    width: 100%;
    overflow: hidden; /* Oculta el contenido que se desplaza fuera del contenedor */
    background-color: #F8ED57;
    color: #000000;
    padding: 2rem;
}

.banner-content {
    display: inline-block;
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    animation: slide-left 15s linear infinite; /* Animación hacia la izquierda */
}

/* Ajuste de ancho para permitir que el texto se repita */
.banner-content span {
    padding-right: 2rem; /* Espacio entre las repeticiones */
}

/* Animación hacia la izquierda */
@keyframes slide-left {
    0% {
        transform: translateX(0); /* Comienza en la posición inicial */
    }
    100% {
        transform: translateX(-50%); /* Se mueve hacia la izquierda la mitad del ancho */
    }
}

/* Responsividad */
@media (max-width: 768px) {
    .carousel-item {
        flex: 0 0 calc(100% / 3); /* Mostrar 3 productos en pantallas medianas */
    }
}

@media (max-width: 480px) {
    .carousel-item {
        flex: 0 0 100%; /* Mostrar 1 producto en pantallas muy pequeñas */
    }
}
