/* Main Section */
.main-section {
    text-align: center;
    margin-top: 80px; /* Espacio debajo del header y centra horizontalmente */
}

.main-section p {
    font-size: 1.6vw; /* Ajusté el tamaño del título */
    margin-bottom: -5.5rem; /* Espacio debajo del título */
}

.main-section h1 {
    font-size: 7vw; /* Ajusté el tamaño del título */
    margin-bottom: -0rem; /* Espacio debajo del título */
}

/* Contenedor de la cuadrícula */
.product-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* 6 columnas */
    gap: 1rem; /* Espacio entre los elementos */
    padding: 1rem;
}

/* Ajustes para los productos */
.product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 4.5rem;
}

.product-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
    border: 2px solid #eeeeee;
    box-shadow: 0 1px 3px #0000003b;
    margin-bottom: -1rem;
}

.product-item a {
    color: #333;
    text-decoration: none;
    margin-top: 0.5rem;
}

.product-item p {
    font-size: 1.6vw; /* Ajusté el tamaño del título */
}

/* Estilos del banner */
.banner {
    width: 97%;
    overflow: hidden; /* Oculta el contenido que se desplaza fuera del contenedor */
    background-color: #F8ED57;
    padding: 1.5vw;
}

.banner-content {
    display: inline-block;
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    animation: slide-left 15s linear infinite; /* Animación hacia la izquierda */
}

/* Ajuste de ancho para permitir que el texto se repita */
.banner-content span {
    padding-right: 2rem; /* Espacio entre las repeticiones */
}

/* Animación hacia la izquierda */
@keyframes slide-left {
    0% {
        transform: translateX(0); /* Comienza en la posición inicial */
    }
    100% {
        transform: translateX(-50%); /* Se mueve hacia la izquierda la mitad del ancho */
    }
}

/* Estilos para pantallas pequeñas (teléfonos) */
@media (max-width: 430px) {
    .main-section p {
        font-size: 3.5vw; /* Ajusté el tamaño del título */
        margin-bottom: -1.8rem; /* Espacio debajo del título */
    }

    .main-section h1 {
        font-size: 9vw; /* Ajusté el tamaño del título */
        margin-bottom: -1rem; /* Espacio debajo del título */
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para móviles */
        margin-bottom: 0.5rem;
    }

    .product-item {
        margin-bottom: 1rem; /* Reduce la separación vertical entre productos */
    }

    .product-item img {
        margin-bottom: -0.5rem;
    }

    .product-item p {
        font-size: 5.5vw; /* Ajusté el tamaño del título */
    }
            
}

/* Estilos para tablets */
@media (min-width: 768px) and (max-width: 884px) {
    .main-section p {
        font-size: 2.5vw; /* Ajusté el tamaño del título */
        margin-bottom: -4rem; /* Espacio debajo del título */
    }

    .main-section h1 {
        font-size: 8vw; /* Ajusté el tamaño del título */
        margin-bottom: -1rem; /* Espacio debajo del título */
    }

    .product-grid {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas para móviles */
        margin-bottom: 0.5rem;
    }

    .product-item {
        margin-bottom: 3rem; /* Reduce la separación vertical entre productos */
    }

    .product-item img {
        margin-bottom: -0.5rem;
    }

    .product-item p {
        font-size: 4vw; /* Ajusté el tamaño del título */
    }
            
}