.separacion {
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinear los títulos al centro */
}

.antesdeltitulo {
    margin-top: 80px; /* Espacio debajo del header y centra horizontalmente */
    font-size: 1.6vw; /* Ajusté el tamaño del título */
    text-align: center;
    margin-bottom: -1.8rem; /* Espacio debajo del título */
}

.title {
    font-size: 7vw; /* Ajusté el tamaño del título */
    text-align: center;
    gap: 1rem;
    margin-bottom: -1rem; /* Espacio debajo del título */
}

/* Grid y tarjetas de producto */
.grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); /* Mostrar 4 productos por fila */
    justify-items: center; /* Centra los elementos dentro de la rejilla */
    gap: 1rem;
    padding: 1rem;
}

.product-card {
    border-radius: 1rem;
    border: 2px solid #eeeeee;
    box-shadow: 0 1px 3px #0000003b;
    overflow: hidden;
    position: relative;
    /* Esto hará que las tarjetas tengan una altura flexible */
    min-height: 100%; /* Ajusta la altura mínima si es necesario */
}

.product-image {
    width: 100%;
    object-fit: cover; /* Para asegurar que la imagen se ajuste sin distorsiones */
    display: block; /* Elimina cualquier espacio blanco extraño */
    margin: 0 auto; /* Centra la imagen horizontalmente */
}

.product-info {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
    gap: 0.25rem;
    padding: 1em; /* Añadido padding para despegar la información del borde */
    background-color: #eeeeee; /* Fondo gris claro para la sección de la información */
    /* El contenido se ajusta automáticamente */
    flex-grow: 0; /* No crece más allá de su contenido */
    height: 100%; /* La altura se ajusta al contenido */
}

.product-name,
.product-price,
.product-color,
.product-actions,
.product-actions h3 {
    margin: 0; /* Elimina márgenes innecesarios */
}

.product-actions {
    display: flex;
    gap: 0.5rem;
}

.product-actions h3 {
    font-size: 1.19vw;
}

.product-price {
    color: black
}

/* Estilos del banner */
.banner {
    width: 97%;
    overflow: hidden; /* Oculta el contenido que se desplaza fuera del contenedor */
    background-color: #F8ED57;
    padding: 1.5vw;
}

.banner-content {
    display: inline-block;
    white-space: nowrap; /* Evita que el texto se divida en líneas */
    animation: slide-left 15s linear infinite; /* Animación hacia la izquierda */
}

/* Ajuste de ancho para permitir que el texto se repita */
.banner-content span {
    padding-right: 2rem; /* Espacio entre las repeticiones */
}

/* Animación hacia la izquierda */
@keyframes slide-left {
    0% {
        transform: translateX(0); /* Comienza en la posición inicial */
    }
    100% {
        transform: translateX(-50%); /* Se mueve hacia la izquierda la mitad del ancho */
    }
}

/* Media Queries para pantallas responsivas */
/* Estilos para pantallas pequeñas (Apple Watch y celulares) */
@media (max-width: 430px) {
    .antesdeltitulo {
        font-size: 4vw; /* Ajusté el tamaño del título */
        margin-bottom: -1.8rem; /* Espacio debajo del título */
    }
    
    .title {
        font-size: 7vw; /* Ajusté el tamaño del título */
        text-align: center;
        gap: 1rem;
        margin-bottom: -1rem; /* Espacio debajo del título */
    }
    
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Mostrar dos productos por fila */
        gap: 16px;
    }

    .product-card {
        width: 100%;
    }

    .title {
        font-size: 2rem;
        text-align: center;
        margin-top: 60px; /* Asegurar que el título esté debajo del header */
    }
}

/* Tablets */
@media (min-width: 431px) and (max-width: 884px) {
    .grid {
        grid-template-columns: repeat(2, 1fr); /* Mostrar dos productos por fila */
        gap: 20px;
    }

    .product-card {
        width: 100%;
    }

    .title {
        margin-top: 60px; /* Asegurar que el título esté debajo del header */
    }
}
